# Node dependencies
**/node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*.local

# Build outputs
/client/build
/server/uploads

# System files
.DS_Store
